@import '~office-ui-fabric-react/dist/sass/References.scss';

.metracom {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
  img {
    width: 65%;
  }
  .divWelcome {
    display: block;
  }
  .btnCreate {
    margin: 1em;
    width: 220px;
  }
  .btnMeeting {
    width: 220px;
    margin: auto;
  }
  .btnRefresh {
    top: 0.5em;
    width: 220px;
    margin: auto;
  }
  h1 {
    font-size: 2.5em;
    text-decoration: underline;
    color: #1e1e3e;
    font-weight: 780;
  }
  h2 {
    font-size: 1.8em;
    color: #e02128;
    font-weight: 300;
  }
  .formMeeting {
    border: 2px solid #1e1e3e;
    border-radius: 1em;
    margin: 2em;
    padding: 2em 3em;
    padding-top: 5em;
  }
  .inputForm {
    margin-bottom: 1em;
  }
  .inputFormDisabled {
    margin-bottom: 1em;
    border: 1px solid black;
  }
  .inputFormDateHour {
    margin-top: 1em;
  }
  .btnSubmit {
    margin: 2em;
  }
}
.objectMeeting {
  color: #1e1e3e;
  font-size: 1.8em;
  margin: auto;
  text-align: center;
}
.tableList {
  table-layout: fixed;
  margin: 2em 0 1em 0;
  padding: 0.5em;
  border: 2px solid #e02128;
  border-radius: 10px;
  width: 100%;
  td {
    word-break: break-all
  }
}
thead {
  color: #1e1e3e;
}
.listMeeting {
  text-align: center;
  font-size: 1em;
  font-weight: 600;
}
.headListMeeting {
  font-size: 1.2em;
  text-decoration: underline;
}
.btnDetails {
  top: -1em;
}

@media screen and (max-width: 768px) {
  .welcome img {
    width: 75%;
  }
  .welcome h1 {
    font-size: 2em;
  }
  .welcome h2 {
    font-size: 1.5em;
  }
  .btnCreate {
    width: 180px;
    font-size: 0.9em;
  }
  .btnMeeting {
    width: 180px;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 560px) {
  .welcome img {
    width: 85%;
  }
  .welcome h1 {
    font-size: 1.7em;
  }
  .welcome h2 {
    font-size: 1.2em;
  }
  .btnCreate {
    width: 150px;
    font-size: 0.7em;
  }
  .btnMeeting {
    width: 150px;
    font-size: 0.7em;
  }
}

@media screen and (max-width: 450px) {
  .welcome img {
    width: 100%;
  }
  .welcome h1 {
    font-size: 1.3em;
  }
  .welcome h2 {
    font-size: 0.9em;
  }
  .btnCreate {
    width: 70px;
    font-size: 0.5em;
  }
  .btnMeeting {
    width: 70px;
    font-size: 0.5em;
  }
}