@import '~office-ui-fabric-react/dist/sass/References.scss';

:global {
  #workbenchPageContent, .CanvasComponent.LCS .CanvasZone {
    max-width: 95% !important;
    margin: auto;
  }
}
.metracom {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
  .searchMeeting {
    float: right;
    width: 300px;
    text-align: center;
    margin-bottom: 3em;
  }
  .welcome {
    text-align: center;
    img {
      width: 50%;
    }
    .divWelcome {
      display: block;
      clear: right;
    }
    .btnCreate {
      margin: 1em;
      font-size: 0.85em;
      width: 150px;
    }
    .btnMeeting {
      width: 150px;
      font-size: 0.85em;
      margin: auto;
    }
    .btnMeetingDesactived {
      display: none;
    }
    .btnRefresh {
      top: 0.5em;
      width: 220px;
      margin: auto;
      font-size: 0.8em;
    }
    h1 {
      font-size: 2.5em;
      text-decoration: underline;
      color: #00a19a;
      font-weight: 780;
    }
    h2 {
      font-size: 1.8em;
      color: #00a19a;
      font-weight: 300;
    }
    .formMeeting {
      background-color: #d6ebea;
      border: 2px solid #00a19a;
      border-radius: 1em;
      margin: 2em;
      padding: 2em 3em;
      padding-top: 5em;
    }
    .inputForm {
      margin-bottom: 1em;
    }
    .inputFormDisabled {
      margin-bottom: 1em;
      border: 1px solid black;
    }
    .inputFormDateHour {
      margin-top: 1em;
    }
    .inputFormDesc, .inputFormTerm, .inputFormSummons {
      margin: 1em 0;
    }
    .btnSubmit {
      margin: 2em;
      font-size: 0.8em;
    }
  }
  .objectMeeting {
    color: #00a19a;
    font-size: 1.8em;
    margin: auto;
    text-align: center;
  }
  .tableList {
    table-layout: fixed;
    margin: 2em 0 1em 0;
    padding: 1em;
    border: 2px solid #00a19a;
    border-radius: 10px;
    width: 100%;
  td {
    word-break: break-all
  }
}
thead {
  color: #00a19a;
}
.listMeeting {
  text-align: center;
  font-size: 1em;
  font-weight: 600;
}
.listMeeting td {
  padding: 10px;
}
.headListMeeting {
  font-size: 1.2em;
  text-decoration: underline;
}
.btnDetails {
  top: -1em;
  font-size: 0.8em;
}
.btnDetailsDesactived {
  visibility: hidden;
}
.btnAction {
  margin: 0.5em;
  font-size: 0.8em;
}
.btnReturnHome {
  bottom: 0.5em;
  width: 150px;
  font-size: 0.8em;
}
.btnEdit {
  width: 150px;
  font-size: 0.8em;
}
.backgroundPeoplePicker {
  background-color: white;
}

@media screen and (max-width: 768px) {
  .welcome img {
    width: 75%;
  }
  .welcome h1 {
    font-size: 2em;
  }
  .welcome h2 {
    font-size: 1.5em;
  }
  .btnCreate {
    font-size: 0.7em;
  }
  .btnMeeting {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 560px) {
  .welcome img {
    width: 85%;
  }
  .welcome h1 {
    font-size: 1.7em;
  }
  .welcome h2 {
    font-size: 1.2em;
  }
  .btnCreate {
    font-size: 0.5em;
  }
  .btnMeeting {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 450px) {
  .welcome img {
    width: 100%;
  }
  .welcome h1 {
    font-size: 1.3em;
  }
  .welcome h2 {
    font-size: 0.9em;
  }
  .btnCreate {
    font-size: 0.3em;
  }
  .btnMeeting {
    font-size: 0.3em;
  }
}
}