@import '~office-ui-fabric-react/dist/sass/References.scss';

.metracom {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
  .btnCreate {
    padding: 1em;
  }
  h1 {
    font-size: 2.5em;
    text-decoration: underline;
    color: #1e1e3e;
    font-weight: 780;
  }
  h2 {
    font-size: 1.8em;
    color: #e02128;
    font-weight: 300;
  }
  .formMeeting {
    border: 2px solid #1e1e3e;
    border-radius: 1em;
    margin: 2em;
    padding: 2em;
}
.inputForm {
  margin: 1em;
}
.inputFormDisabled {
  margin: 1em;
  border: 1px solid black;
}
.btnSubmit {
  margin: 1em;
}
}